body {
    font-family: Arial, sans-serif;
    background-color: azure;
    text-align: left;
    margin: 10px
}
.heading{
    text-underline-color: blue;
}
.ann{
    background-color: red;
    text: white;
}
